{% set base_url = url('<front>')  %}
<section id="services-details-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 services-details">
        <img src="{{ content.field_image }}" alt="services-details">
        <div class="services-details-content wow fadeInUp" data-wow-delay="0.6s">
          <h3>{{ node.title.value }}</h3>
          <p>{{ content.body }}</p> 
        </div> 
      </div>
    </div>
    <p class="text-center">
      <a href="{{base_url}}/services" class="btn btn-infos">Back to Services</a>
    </p> 
  </div>
</section>
 

