{% set base_url = url('<front>')  %}
<section id="blog-details-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 blog-details">
        <img src="{{ content.field_image }}" alt="blog-details"> 
        <p class="blog-date">Posted On: {% if date %}  {{ date }} {% endif %}</p>
        <div class="blog-details-content wow fadeInUp" data-wow-delay="0.6s">
          <h3>{{ node.title.value }}</h3>
          <p>{{ content.body }}</p> 
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 comments">
        <div class="container">
          <h4>Comments</h4>
          <div class="row">
            {{ content.field_comments }} 
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">
      <a href="{{base_url}}/blog" class="btn btn-infos back">Back to Blog Listing</a>
    </p> 
  </div>
</section>
 

